@import "../../vars.css";

.projects {
    padding: 95px 40px 20px;
    min-height: 90vh;
}
.pro {
    width: 350px;
    border: 1px solid var(--color-text);
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: var(--color-bg2);
    backdrop-filter: blur(20px);
}
.pro img {
    border-radius: 12px 12px 0 0;
    height: 200px;
}
.pro h3 {
    padding: 10px 24px 0;
}
.pro p {
    font-size: 16px;
    padding: 0 24px;
    margin-bottom: 16px;
    color: var(--color-text);
}
.pro ul {
    list-style: none; 
    display: flex;
    padding: 0 24px;
    margin-bottom: 16px;
}
.pro ul li {
    padding: 4px;
    border: 1px solid var(--color-text);
    border-radius: 12px;
    font-weight: 200;
    margin-right: 10px;
    font-size: 12px;
    color: var(--color-text);
    background-color: var(--color-dark);
}
.pro .btn {
    padding: 0 24px 24px;
    display: flex;
    justify-content: space-between;
}
.pro .btn a {
    width: 45%;
}
.pro .btn button {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
}

@media (max-width: 799px) {
    .pro {
        width: 45%;
    }
}
@media (max-width: 447px) {
    .projects {
        padding: 95px 20px;
    }
    .pro {
        width: 100%;
    }
}