@import "../../vars.css";

.resume {
    padding: 95px 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}
.container {
    padding: 0 60px;
}
.container .btn button {
    padding: 12px 32px;
    margin: auto;
    font-size: 18px;
}
.content1 {
    margin-top: 10px;
    padding: 24px;
    border: 1px solid var(--color-text);
    background-color: var(--color-bg2);
    border-radius: 12px;
}
.content1 iframe {
    width: 900px;
    height: 650px;
    border: none;
    border-radius: 10px;
    object-fit: contain;
}

@media (max-width: 799px) {
    .container {
        padding: 0;
    }
    .content1 iframe {
        width: 500px;
    }
}
@media (max-width: 447px) {
    .resume {
        padding: 95px 20px;
    }
    .content1 iframe {
        width: 300px;
        height: 500px;
    }
}