@import "../../vars.css";

.about {
    padding: 95px 40px 20px;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
.container {
    padding: 0 60px;
}
.content .skills,
.content .experience {
    padding: 32px;
    margin-bottom: 20px;
    width: 500px;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    background-color: var(--color-bg2);
    backdrop-filter: blur(20px);
}
.skillBox {
    display: flex;
    flex-wrap: wrap;
}
.skillBox p {
    width: 33%;
    font-size: 18px;
    font-weight: 500;
}
.experience .job {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.experience .job p {
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}
.experience .job p i, b {
    font-size: 18px;
    color: var(--color-primary);
}


@media (max-width: 799px) {
    .content {
        flex-direction: column;
    }
    .content .skills,
    .content .experience {
        width: 100%;
    }
}
@media (max-width: 447px) {
    .about {
        padding: 90px 20px;
    }
    .container {
        padding: 0;
    }
}
