@import "../../vars.css";

.about {
    padding: 95px 40px 20px;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 60px;
    height: 100%;
}
.container h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 24px;
}
.container p {
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 32px;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.content .skills,
.content .experience {
    padding: 32px;
    margin-bottom: 20px;
    width: 45%;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #94a3bb12;
    backdrop-filter: blur(20px);
}
.content h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: start;
    color: var(--color-primary);
}
.skillBox {
    display: flex;
    flex-wrap: wrap;
}
.skillBox p {
    width: 33%;
    font-size: 18px;
}
.experience .job {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.experience .job h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
}
.experience .job .year {
    margin-right: 15px;
}
.experience .job p {
    font-size: 14px;
    margin: 0;
}
.job .details {
    text-align: start;
    line-height: 22px;
}

@media (max-width: 799px) {
    .content {
        flex-direction: column;
    }
    .content .skills {
        width: 100%;
    }
    .content .experience {
        width: 100%;
    }
}
@media (max-width: 447px) {
    .about {
        padding: 90px 20px;
    }
    .container {
        padding: 0;
    }
}
