@import "../../vars.css";

.home {
    padding: 90px 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.container .btn button {
    padding: 12px 32px;
    margin: 10px;
    font-size: 18px;
}

@media (max-width: 447px) {
    .home {
        padding: 90px 20px 0;
    }
}
