@import "../../vars.css";

.contact {
    padding: 95px 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}
.container {
    padding: 0 60px;
}
.alternate {
    padding: 24px;
    margin-bottom: 20px;
    width: 500px;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    background-color: var(--color-bg2);
    backdrop-filter: blur(20px);
}
.alternate .link {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.alternate .link .linkImg {
    width: 30px;
    margin: 0 40px;
}
.alternate .link a {
    text-decoration: none;
    color: var(--color-text);
}
.alternate .link a:hover {
    text-decoration: underline;
}

@media (max-width: 447px) {
    .contact {
        padding: 95px 20px;
    }
    .container {
        padding: 0;
    }
    .alternate {
        width: 100%;
    }
    .alternate .link .linkImg {
        margin: 0 10px;
    }
}